body {
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#contact iframe {
    width: 100%;
    margin-top: 50px;
}

.contact_1 h5 {
    display: inline;
    font-size: 20px;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background-color: grey;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

input {
    background-color: grey;
}

#name2,
#name3,
#name4,
#name5 {
    font-family: 'Oswald', sans-serif;
}

marquee {
    font-size: 25px;
    color: cadetblue;
}

#school_img {
    height: 450px;
    width: 800px;
}

.contact {
    font-family: 'Mate SC', serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.campusLife_mainDiv {
    float: left;
    width: 49%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.campusLife_mainDiv img {
    width: 50%;
    height: 300px;
}

.campusLife_mainDiv hr {
    width: 100%;
}

.campusLife_mainDiv h5,
.campusLife_mainDiv p {
    margin-left: 20px;
}

#achievement {
    padding-bottom: 10px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

html {
    scroll-behavior: smooth;
}

.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
}

.environment_li p {
    margin-top: 10px;
    text-align: left;
}

.principal {
    font-family: 'Mate SC', serif;
}

.contact_1 p {
    margin-left: 280px;
}

.alumni {
    cursor: pointer;
}

.alumni hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
    margin-left: 180px;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}

.alumni img {
    width: 220px;
    height: 375px;
}